body {
  margin: 0;
  font-family: "PT Serif", serif;
  /* padding: 0; */
}
strong {
  color: #c91d15;
}

h2 {
  color: #c91d15;
  text-transform: uppercase;

  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  letter-spacing: -1px;
}
/* font-family: 'Bangers', cursive;
font-family: 'PT Serif', serif; */

/* ******************************************
**********Contenido del Header**************
****************************************** */

.header {
  background-color: #000000;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  font-family: "Bangers", cursive;
  font-size: 20px;
}
.menu {
  height: inherit;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.menu ul a {
  height: inherit;
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-family: "PT Serif", serif;
}

/* **********************************************
 ************Contenido Principal***************
************************************************* */

.hero {
  height: 300px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}
.hero h1 {
  font-family: "PT Serif", serif;
  letter-spacing: -1px;
  font-size: 35px;
}

.hero-img {
  object-fit: cover;
  box-shadow: 0 0 5px 0 #03071e;
}
/* **********************************************
 ************Contenido Principal***************
************************************************* */
.discos {
  background-color: #fafafa;
  padding: 20px;
}
.disco {
  border: 1px solid gray;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disco__title {
  font-family: "Bangers", cursive;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.disco__title,
.disco__discografia,
.disco_url {
  margin: 10px 0;
}
.disco__detalles {
  width: 500px;
}

.disco span {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

.disco__description {
  font-size: 20px;
  font-family: "PT Serif", serif;
}

/* 
**********************************
******Etiqueta global wrapper****
********************************** */
.wrapper {
  width: 1000px;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
